<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
</head>
<body>
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <a class="navbar-brand" th:href="@{/}">Dota Analytic!!</a>
            <div th:if="${#request.getUserPrincipal()==null}">
                <a role="button" class="btn btn-dark" th:href="@{/login}">Log in</a>
            </div>
            <div th:if="${#request.getUserPrincipal()==null}">
                <a role="button" class="btn btn-dark" th:href="@{/signUp}">Sign up</a>
            </div>
            <div th:if="${#request.getUserPrincipal()!=null}">
                <a role="button" class="btn btn-dark" href="javascript: document.logoutForm.submit()">Log out</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out" />
                </form>
            </div>
            <div th:if="${#request.getUserPrincipal()!=null}">
                <a role="button" class="btn btn-dark" th:href="@{/analytic/Selections}">Selections</a>
            </div>
            <div th:if="${#request.getUserPrincipal()!=null}">
                <div class="dropdown show">
                    <a class="btn btn-dark dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Charts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/analytic/BarCharts}">Bar</a>
                        <a class="dropdown-item" th:href="@{/analytic/LineCharts}">Line</a>
                        <a class="dropdown-item" th:href="@{/analytic/BubbleCharts}">Bubble</a>
                    </div>
                </div>
            </div>
            <div th:if="${#request.getUserPrincipal()!=null && #request.getUserPrincipal().principal.user.role.ordinal() == 1}">
                <a role="button" class="btn btn-dark" th:href="@{/admin/functions}">Admin functions</a>
            </div>

            <!--            <div th:if="${#request.getUserPrincipal()==null}">-->
<!--                <a role="button" class="btn btn-dark" th:href="@{/signUp}">Sign up</a>-->
<!--            </div>-->
<!--            <div th:if="${#request.getUserPrincipal()==null}">-->
<!--                <a role="button" class="btn btn-dark" th:href="@{/signUp}">Sign up</a>-->
<!--            </div>-->
        </nav>

    </div>
    <div th:fragment="footer">

        <div class="border bg-info" style="width: 100%; height: 100px; visibility: hidden">
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
<!--            <a class="navbar-brand" href="#">Navbar</a>-->
            <div th:if="${errorMessage}">
                <div class="alert alert-danger  m-0" th:text="${errorMessage}"></div>
            </div>
            <div th:if="${infoMessage}">
                <div class="alert alert-info  m-0" th:text="${infoMessage}"></div>
            </div>

            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        </nav>
        <!-- на jQuery (необходим для Bootstrap - х JavaScript плагины) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Включают все скомпилированные плагины (ниже), или включать отдельные файлы по мере необходимости -->
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </div>
</body>
</html>