<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var colorIndex = 0;
        var COLORS = [
            '#4dc9f644',
            '#f6701944',
            '#f5379444',
            '#537bc444',
            '#acc23644',
            '#166a8f44',
            '#00a95044',
            '#58595b44',
            '#8549ba44'
        ];
        GetNextColor = function(){
            return COLORS[(colorIndex++)%COLORS.length];
        }
    </script>
</head>
<body>

<div th:insert="fragments/general.html :: header"></div>
    <div  class="chart-container" style="position: relative;
    height: 80vh;
    width: 90vw;">
        <canvas id="myChart"></canvas>
    </div>
    <div id ="json"></div>
    <div id ="json2"></div>
    <script>
        dataJson = JSON.parse("[[${chartData}]]".replace(/(&quot\;)/g,"\""));
        for(let i = 0;i<dataJson.datasets.length;i++){
            dataJson.datasets[i].backgroundColor = GetNextColor();
        }
        var config = {
            type: 'bubble',
            data:dataJson,
            options: {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        scaleLabel:{
                            display:true,
                            labelString:"[[${yAxis}]]"
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        scaleLabel:{
                            display:true,
                            labelString:"[[${xAxis}]]"
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        };
        window.onload = function() {
            var ctx = document.getElementById('myChart').getContext('2d');
            window.myLine = new Chart(ctx, config);
        };
    </script>

    <div th:insert="fragments/general.html :: footer"></div>
</body>
</html>