<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Create Selection</title>
    <style>
        .block-in-cell{
            overflow-wrap: break-word;
        }
        .flank_table{
            border-radius: 8px; background-color: rgb(240, 240, 240);
            padding:0% 2% 2% 2%; ;
        }
    </style>
    <script type="text/javascript">
        function setRadio() {
            document.getElementById('investigated_hero1').click();
            document.getElementById('investigated_hero1').checked=true;
            document.getElementById('investigated_hero1').onchange("my");
        }
        alliesTable = document.getElementById("allies_table");
        enemiesTable = document.getElementById("enemies_table");
        addHeroToTeam = function (isAlly) {
            if (isAlly=="ally"){
                alliesHeroesString = "";
                document.getElementById("ally_team_icons").innerHTML = "";
                heroes = document.getElementsByClassName("ally_checkbox");
                for(i in heroes){
                    if (heroes[i].checked){
                        alliesHeroesString+=heroes[i].getAttribute('hero_id') + ",";
                        document.getElementById("ally_team_icons").innerHTML +=
                            "<img src=" + heroes[i].getAttribute('hero_icon') + " height=20 width=20/>"
                    }
                }
                document.getElementById("allyTeamHeroesInput").value=alliesHeroesString;
            }else if (isAlly=="enemy"){
                enemiesHeroesString = "";
                document.getElementById("enemy_team_icons").innerHTML = "";
                heroes = document.getElementsByClassName("enemy_checkbox");
                for(i in heroes){
                    if (heroes[i].checked){
                        enemiesHeroesString+=heroes[i].getAttribute('hero_id') + ",";
                        document.getElementById("enemy_team_icons").innerHTML +=
                            "<img src=" + heroes[i].getAttribute('hero_icon') + " height=20 width=20/>"
                    }
                }
                document.getElementById("enemyTeamHeroesInput").value=enemiesHeroesString;
            }else if (isAlly=="my"){
                enemiesHeroesString = "";
                heroes = document.getElementsByClassName("investigated_checkbox");
                for(i in heroes){
                    if (heroes[i].checked){
                        document.getElementById("investigated_hero_icon").innerHTML =
                            "<img src=" + heroes[i].getAttribute('hero_icon') + " height=20 width=20/>";
                        enemiesHeroesString += heroes[i].getAttribute('hero_id');
                    }
                }
                document.getElementById("investigatedHeroInput").value=enemiesHeroesString;
            }
        }
        addItem = function () {
            itemsString = "";
            document.getElementById("bought_items_imgs").innerHTML = "";
            items = document.getElementsByClassName("item_checkbox");
            for(i in items){
                if (items[i].checked){
                    itemsString+=items[i].getAttribute('item_id') + ",";
                    document.getElementById("bought_items_imgs").innerHTML +=
                        "<img src=" + items[i].getAttribute('item_img') + " height=20 width=20/>" + " " + items[i].getAttribute("item_name") + ", ";
                }
            }
            document.getElementById("boughtItemsInputString").value=itemsString;
        }
    </script>
</head>
<body onload = 'setRadio()'>
    <div th:replace="fragments/general.html :: header"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class = "bg-light flank_table">
                    <div class = "row col-lg-12 col-md-12 text-center">
                        <div class="row">
                            <div class="col-lg-4">
                                Investigated hero:
                                <div id="investigated_hero_icon">
                                </div>
                                </div>
                            <div class="col-lg-4">
                                Allies:
                                <div  id="ally_team_icons">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                Enemies:
                                <div id="enemy_team_icons"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <p class="h2 offset-lg-5">
                            Heroes
                        </p>
                    </div>
                    <div class=" d-flex justify-content-center">
                        <table class="table table-striped table-bordered table-hover" id="heroes_table">
                            <thead class="thead-inverse">
                            <tr>
                                <th colspan="2" class="p-4 text-center">heroes</th>
                                <th >investigated hero</th>
                                <th >allies hero</th>
                                <th >enemies hero</th>
                            </tr>
                            <tr th:each="hero : ${heroes}">
                                <td>
                                    <img th:src="${hero.value.icon}" height="40" width="40"/>
                                </td>
                                <td >
                                    <span th:utext="${hero.value.name}"></span>
                                </td>
                                <td>
                                    <input type="radio"
                                           th:id="'investigated_hero'+${hero.value.id}"
                                           name="myHero" th:value="${hero.value.id}"
                                           class="investigated_checkbox" onchange="addHeroToTeam('my')"
                                           th:hero_id="${hero.value.id}" th:hero_icon="${hero.value.icon}"
                                    >
                                </td>
                                <td>
                                    <input type="checkbox" class="ally_checkbox" onchange="addHeroToTeam('ally')" th:hero_id="${hero.value.id}" th:hero_icon="${hero.value.icon}">
                                </td>
                                <td>

                                    <input type="checkbox" class="enemy_checkbox" onchange="addHeroToTeam('enemy')" th:hero_id="${hero.value.id}" th:hero_icon="${hero.value.icon}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 ">
                <form class="text-center border border-light p-5"
                      th:action="@{/analytic/CreateSelection}" th:object="${selection}" th:method="POST" autocomplete="off">
                    <p class="h4 lg-4">Sign up</p>
                    <div class="form-row">
                        <div class="col-12 col-lg-12 form-group">
                            <label>Selection name</label>
                            <input type="text" name="selectionName" th:field="*{selectionName}" placeholder="selection name">
                        </div>
                        <div class="col-6 col-lg-6 form-group">
                            <label>Min duration</label>
                            <input type="text" name="durationMin" th:field="*{durationMin}" placeholder="duration min">
                        </div>
                        <div class="col-6 col-lg-6 form-group">
                            <label>Max duration</label>
                            <input type="text" name="durationMax" th:field="*{durationMax}" placeholder="duration max">
                        </div>
                        <div class="col-6 col-lg-6 form-group">
                            <label>Min patch</label>
                            <input type="text" name="patchMin"  th:field="*{patchMin}" placeholder="patch min">
                        </div>
                        <div class="col-6 col-lg-6 form-group">
                            <label>Max patch</label>
                            <input type="text" name="patchMax"  th:field="*{patchMax}" placeholder="patch max">
                        </div>
                        <div class="col-6 col-lg-6 form-group">
                            <label>Min date</label>
                            <input type="date"  th:field="*{dateMin}" name="dateMin"><br/>
                        </div>
                        <div class="col-6 col-lg-6 form-group">
                            <label>Max date</label>
                            <input type="date"  th:field="*{dateMax}" name="dateMax"><br/>
                        </div>

                        <Input name="alliesString" id="allyTeamHeroesInput" value="" type="hidden">
                        <Input name="enemiesString" id="enemyTeamHeroesInput" value="" type="hidden">
                        <Input name="heroString" id="investigatedHeroInput" value="" type="hidden">
                        <Input name="itemsString" id="boughtItemsInputString" value="" type="hidden">

                        <button type="submit" class="btn btn-primary">Create selection</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class = "bg-light flank_table">
                    <div class = "row col-lg-12 col-md-12 text-center">
                        <div class="row">
                            <div class = "row col-lg-12 text-center">Bought items:</div>
                            <div class = "row col-lg-12" id="bought_items_imgs"></div>
                            <div>
                                <p class="h2 text-center">
                                    Items
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex justify-content-center">
                        <table class="table table-striped table-bordered table-hover" id="items_table">
                            <thead class="thead-inverse">
                            <tr>
                                <th colspan="2">Item</th>
                                <th >Bought item</th>
                            </tr>
                            <tr th:each="item : ${items}">
                                <td>
                                    <img th:src="${item.value.img}" height="40" width="40"/>
                                </td>
                                <td >
                                    <span th:utext="${item.value.name}"></span>
                                </td>
                                <td>
                                    <input type="checkbox" class="item_checkbox" onchange="addItem()" th:item_id="${item.value.id}" th:item_img="${item.value.img}" th:item_name="${item.value.name}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/general.html :: footer"></div>
</body>
</html>