<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Update Bubble Chart</title>
    <style>
        .block-in-cell{
            overflow-wrap: break-word;
        }
        .flank_table{
            border-radius: 8px; background-color: rgb(240, 240, 240);
            padding:0% 2% 2% 2%; ;
        }
        .small_icon{
            width: 30px;
            height: 30px;
        }
    </style>
    <script type="text/javascript">
        function setRadio() {
            changeSelection();
        }
        changeSelection = function () {
            selectionString = "";
            items = document.getElementsByClassName("selection_checkbox");
            for(i in items){
                if (items[i].checked){
                    selectionString+=items[i].getAttribute('selection_id') + ",";
                }
            }
            document.getElementById("selectionsIds").value=selectionString;
        }
    </script>
</head>
<body onload = 'setRadio()'>
<div th:replace="fragments/general.html :: header"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 offset-3">
            <form class="text-center border border-light p-5"
                  th:action="@{/analytic/UpdateBubbleChart}" th:object="${chart}" th:method="POST" autocomplete="off">
                <p class="h4 lg-4">Update Bubble Chart</p>
                <div class="form-row">
                    <div class="col-12 col-lg-12 form-group">
                        <label>Chart name</label>
                        <input type="text" name="selectionName" th:field="*{name}" placeholder="chart name">
                    </div>
                    <div class="col-12 col-lg-12 form-group">
                        <label>Minimal count of matches </label>
                        <input type="number" step="1" name="minCountOfMatches" th:field="*{minCountOfMatches}" placeholder="minCountOfMatches">
                    </div>
                    <div class="col-12 col-lg-12 form-group">
                        <label>Scale for x axis</label>
                        <input type="number" step="0.01" min="0.01" name="minCountOfMatches" th:field="*{xScale}" placeholder="xScale">
                    </div>
                    <div class="col-6 col-lg-6 form-group">
                        <label>X Axis</label>
                        <select name="yAxis" th:field="*{xAxis}">
                            <option value="win">winrate</option>
                            <option value="kda">kda</option>
                            <option value="DAMAGE">DAMAGE</option>
                            <option value="HEALING">HEALING</option>
                            <option value="TOWER_DAMAGE">TOWER DAMAGE</option>
                            <option value="TEAMFIGHT">TEAMFIGHT PARTICIPATION</option>
                            <option value="TOWER_KILLS">TOWER_KILLS</option>
                            <option value="COURIER_KILLS">COURIER_KILLS</option>
                            <option value="SENTRY_KILLS">SENTRY_KILLS</option>
                            <option value="SENTRY_BUILDS">SENTRY_BUILDS</option>
                            <option value="OBSERVER_KILLS">OBSERVER_KILLS</option>
                            <option value="OBSERVER_BUILDS">OBSERVER_BUILDS</option>
                            <option value="CAMPS_STACKED">CAMPS_STACKED</option>
                            <option value="CREEP_KILLS">CREEP_KILLS</option>
                            <option value="CREEP_DENIES">CREEP_DENIES</option>
                            <option value="STUNNING">STUNNING</option>
                            <option value="LANE_EFFICIENCY">LANE_EFFICIENCY</option>
                            <option value="DURATION">DURATION</option>
                            <option value="EARLY_GPM_PROPORTION">EARLY_GPM_PROPORTION</option>
                            <option value="EARLY_XPM_PROPORTION">EARLY_XPM_PROPORTION</option>
                            <option value="MIDDLE_GPM_PROPORTION">MIDDLE_GPM_PROPORTION</option>
                            <option value="MIDDLE_XPM_PROPORTION">MIDDLE_XPM_PROPORTION</option>
                            <option value="LATE_GPM_PROPORTION">LATE_GPM_PROPORTION</option>
                            <option value="LATE_XPM_PROPORTION">LATE_XPM_PROPORTION</option>
                            <option value="DURATIONMIN">DURATIONMIN</option>
                            <option value="LAST_GPM_PROPORTION">LAST_GPM_PROPORTION</option>
                            <option value="LAST_XPM_PROPORTION">LAST_XPM_PROPORTION</option>
                            <option value="EARLY_GPM_SUM">EARLY_GPM_SUM</option>
                            <option value="EARLY_XPM_SUM">EARLY_XPM_SUM</option>
                            <option value="MIDDLE_GPM_SUM">MIDDLE_GPM_SUM</option>
                            <option value="MIDDLE_XPM_SUM">MIDDLE_XPM_SUM</option>
                            <option value="LATE_GPM_SUM">LATE_GPM_SUM</option>
                            <option value="LATE_XPM_SUM">LATE_XPM_SUM</option>
                            <option value="LAST_GPM_SUM">LAST_GPM_SUM</option>
                        </select>
                        <!--                        <input type="text" name="durationMin" th:field="*{xAxis}" placeholder="duration min">-->
                    </div>
                    <div class="col-6 col-lg-6 form-group">
                        <label>Y Axis</label>
                        <select name="yAxis" th:field="*{yAxis}">
                            <option value="win">winrate</option>
                            <option value="kda">kda</option>
                            <option value="DAMAGE">DAMAGE</option>
                            <option value="HEALING">HEALING</option>
                            <option value="TOWER_DAMAGE">TOWER DAMAGE</option>
                            <option value="TEAMFIGHT">TEAMFIGHT PARTICIPATION</option>
                            <option value="TOWER_KILLS">TOWER_KILLS</option>
                            <option value="COURIER_KILLS">COURIER_KILLS</option>
                            <option value="SENTRY_KILLS">SENTRY_KILLS</option>
                            <option value="SENTRY_BUILDS">SENTRY_BUILDS</option>
                            <option value="OBSERVER_KILLS">OBSERVER_KILLS</option>
                            <option value="OBSERVER_BUILDS">OBSERVER_BUILDS</option>
                            <option value="CAMPS_STACKED">CAMPS_STACKED</option>
                            <option value="CREEP_KILLS">CREEP_KILLS</option>
                            <option value="CREEP_DENIES">CREEP_DENIES</option>
                            <option value="STUNNING">STUNNING</option>
                            <option value="LANE_EFFICIENCY">LANE_EFFICIENCY</option>
                            <option value="DURATION">DURATION</option>
                            <option value="EARLY_GPM_PROPORTION">EARLY_GPM_PROPORTION</option>
                            <option value="EARLY_XPM_PROPORTION">EARLY_XPM_PROPORTION</option>
                            <option value="MIDDLE_GPM_PROPORTION">MIDDLE_GPM_PROPORTION</option>
                            <option value="MIDDLE_XPM_PROPORTION">MIDDLE_XPM_PROPORTION</option>
                            <option value="LATE_GPM_PROPORTION">LATE_GPM_PROPORTION</option>
                            <option value="LATE_XPM_PROPORTION">LATE_XPM_PROPORTION</option>
                            <option value="DURATIONMIN">DURATIONMIN</option>
                            <option value="LAST_GPM_PROPORTION">LAST_GPM_PROPORTION</option>
                            <option value="LAST_XPM_PROPORTION">LAST_XPM_PROPORTION</option>
                            <option value="EARLY_GPM_SUM">EARLY_GPM_SUM</option>
                            <option value="EARLY_XPM_SUM">EARLY_XPM_SUM</option>
                            <option value="MIDDLE_GPM_SUM">MIDDLE_GPM_SUM</option>
                            <option value="MIDDLE_XPM_SUM">MIDDLE_XPM_SUM</option>
                            <option value="LATE_GPM_SUM">LATE_GPM_SUM</option>
                            <option value="LATE_XPM_SUM">LATE_XPM_SUM</option>
                            <option value="LAST_GPM_SUM">LAST_GPM_SUM</option>
                        </select>
                        <!--                        <input type="text" name="durationMax" th:field="*{yAxis}" placeholder="duration max">-->
                    </div>
                    <Input name="heroString" id="investigatedHeroesInput" value="" type="hidden">
                    <Input name="itemsString" id="investigatedItemsInput" value="" type="hidden">
                    <Input name="selectionsIds" id="selectionsIds" value="" type="hidden">

                    <Input th:field="*{id}" type="hidden">
                    <button type="submit" class="btn btn-primary">Update chart</button>
                </div>
            </form>

            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th>Include</th>
                    <th>Name</th>
                    <th>Parameters</th>
                    <th>Hero</th>
                    <th>Allies</th>
                    <th>Enemies</th>
                    <th>Items</th>
                </tr>
                <tr th:each="selection : ${selections}">
                    <td>
                        <input type="checkbox" th:value="${selection.getId()}" th:selection_id="${selection.getId()}"
                               th:checked="${chartSelections.contains(selection)}"
                               class="selection_checkbox" onchange="changeSelection()" >
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div th:text="${selection.getSelectionName()}"></div>
                        </div>
                    </td>
                    <td th:text="${selection.parametersToString()}"></td>
                    <td>
                        <div th:text="${selection.getHero().getName()}"></div>
                        <img class="small_icon" th:src="${selection.getHero().getIcon()}"/>
                    </td>
                    <td>
                        <th:block th:each="hero : ${selection.getAllies()}">
                            <div th:text="${hero.getName()}"></div>
                            <img class="small_icon" th:src="${hero.getIcon()}"/>,
                        </th:block>
                    </td>
                    <td>
                        <th:block th:each="hero : ${selection.getEnemies()}">
                            <div th:text="${hero.getName()}"></div>
                            <img class="small_icon" th:src="${hero.getIcon()}"/>,
                        </th:block>
                    </td>
                    <td>
                        <th:block th:each="item : ${selection.getItems()}">
                            <div th:text="${item.getName()}"></div>
                            <img class="small_icon" th:src="${item.getImg()}"/>,
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>