<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Update Bar Chart</title>
    <style>
        .block-in-cell{
            overflow-wrap: break-word;
        }
        .flank_table{
            border-radius: 8px; background-color: rgb(240, 240, 240);
            padding:0% 2% 2% 2%; ;
        }
        .small_icon{
            width: 30px;
            height: 30px;
        }
    </style>
    <script type="text/javascript">
        function setRadio() {
            changeSelection();
            addHeroToTeam();
            addItem();
        }
        alliesTable = document.getElementById("allies_table");
        enemiesTable = document.getElementById("enemies_table");
        addHeroToTeam = function () {
            heroesString = "";
            document.getElementById("heroes_icons").innerHTML = "";
            heroes = document.getElementsByClassName("enemy_checkbox");
            for(i in heroes){
                if (heroes[i].checked){
                    heroesString+=heroes[i].getAttribute('labelName') + ",";
                    document.getElementById("heroes_icons").innerHTML +=
                        "<img src=" + heroes[i].getAttribute('hero_icon') + " height=20 width=20/>"
                }
            }
            document.getElementById("investigatedHeroesInput").value=heroesString;
        }
        addItem = function () {
            itemsString = "";
            document.getElementById("investigated_items_imgs").innerHTML = "";
            items = document.getElementsByClassName("item_checkbox");
            for(i in items){
                if (items[i].checked){
                    itemsString+=items[i].getAttribute('labelName') + ",";
                    document.getElementById("investigated_items_imgs").innerHTML +=
                        "<img src=" + items[i].getAttribute('item_img') + " height=20 width=20/>" + " " + items[i].getAttribute("item_name") + ", ";
                }
            }
            document.getElementById("investigatedItemsInput").value=itemsString;
        }
        changeSelection = function () {
            selectionString = "";
            items = document.getElementsByClassName("selection_checkbox");
            for(i in items){
                if (items[i].checked){
                    selectionString+=items[i].getAttribute('selection_id') + ",";
                }
            }
            document.getElementById("selectionsIds").value=selectionString;
        }
    </script>
</head>
<body onload = 'setRadio()'>
<div th:replace="fragments/general.html :: header"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class = "bg-light flank_table">
                <div class = "row col-lg-12 col-md-12 text-center">
                    <div class="d-flex justify-content-start">
                        <div class="row col-lg-12 text-center">Investigated Heroes:</div>
                        <div class="row col-lg-12" id="heroes_icons">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="h2 offset-lg-5">
                        Heroes
                    </p>
                </div>
                <div class=" d-flex justify-content-center">
                    <table class="table table-striped table-bordered table-hover" id="heroes_table">
                        <thead class="thead-inverse">
                        <tr>
                            <th colspan="2" class="p-4 text-center">heroes</th>
                            <th >investigated hero</th>
                        </tr>
                        <tr th:each="hero : ${heroes}">
                            <td>
                                <img th:src="${hero.value.icon}" height="40" width="40"/>
                            </td>
                            <td >
                                <span th:utext="${hero.value.name}"></span>
                            </td>
                            <td>
                                <input type="checkbox" class="enemy_checkbox"
                                       th:labelName="${hero.value.getName()}"
                                       th:checked="${chart.getxLabels().contains(hero.value.getName())}"
                                       onchange="addHeroToTeam()" th:hero_id="${hero.value.id}" th:hero_icon="${hero.value.icon}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-4 ">
            <form class="text-center border border-light p-5"
                  th:action="@{/analytic/UpdateBarChart}" th:object="${chart}" th:method="POST" autocomplete="off">
                <p class="h4 lg-4">Update Bar Chart</p>
                <div class="form-row">
                    <div class="col-12 col-lg-12 form-group">
                        <label>Chart name</label>
                        <input type="text" name="selectionName" th:field="*{name}" placeholder="chart name">
                    </div>
                    <div class="col-6 col-lg-6 form-group">
                        <label>X Axis</label>
                        <select name="yAxis"  th:field="*{xAxis}">
                            <option value="allies">allies</option>
                            <option value="enemies">enemies</option>
                            <option value="items">items</option>
                        </select>
                        <!--                        <input type="text" name="durationMin" th:field="*{xAxis}" placeholder="duration min">-->
                    </div>
                    <div class="col-6 col-lg-6 form-group">
                        <label>Y Axis</label>
                        <select name="yAxis" th:field="*{yAxis}">
                            <option value="win">winrate</option>
                            <option value="kda">kda</option>
                            <option value="damage">damage</option>
                            <option value="LAST_GPM_PROPORTION">gpm</option>
                        </select>
                        <!--                        <input type="text" name="durationMax" th:field="*{yAxis}" placeholder="duration max">-->
                    </div>
                    <Input name="heroString" id="investigatedHeroesInput" value="" type="hidden">
                    <Input name="itemsString" id="investigatedItemsInput" value="" type="hidden">
                    <Input name="selectionsIds" id="selectionsIds" value="" type="hidden">

                    <Input th:field="*{id}" type="hidden">
                    <button type="submit" class="btn btn-primary">Update chart</button>
                </div>
            </form>

            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th>Include</th>
                    <th>Name</th>
                    <th>Parameters</th>
                    <th>Hero</th>
                    <th>Allies</th>
                    <th>Enemies</th>
                    <th>Items</th>
                </tr>
                <tr th:each="selection : ${selections}">
                    <td>
                        <input type="checkbox" th:value="${selection.getId()}" th:selection_id="${selection.getId()}"
                               th:checked="${chartSelections.contains(selection)}"
                               class="selection_checkbox" onchange="changeSelection()" >
                    </td>
                    <td >
                        <div class="d-flex flex-column">
                            <div th:text="${selection.getSelectionName()}"></div>
                        </div>
                    </td>
                    <td th:text="${selection.parametersToString()}"></td>
                    <td>
                        <div th:text="${selection.getHero().getName()}"></div>
                        <img class="small_icon" th:src="${selection.getHero().getIcon()}"/>
                    </td>
                    <td>
                        <th:block th:each="hero : ${selection.getAllies()}">
                            <div th:text="${hero.getName()}"></div>
                            <img class="small_icon" th:src="${hero.getIcon()}"/>,
                        </th:block>
                    </td>
                    <td>
                        <th:block th:each="hero : ${selection.getEnemies()}">
                            <div th:text="${hero.getName()}"></div>
                            <img class="small_icon" th:src="${hero.getIcon()}"/>,
                        </th:block>
                    </td>
                    <td>
                        <th:block th:each="item : ${selection.getItems()}">
                            <div th:text="${item.getName()}"></div>
                            <img class="small_icon" th:src="${item.getImg()}"/>,
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class = "bg-light flank_table">
                <div class = "row col-lg-12 col-md-12 text-center">
                    <div class="row">
                        <div class = "row col-lg-12 text-center">Investigated items:</div>
                        <div class = "row col-lg-12" id="investigated_items_imgs"></div>
                        <div>
                            <p class="h2 text-center offset-4">
                                Items
                            </p>
                        </div>
                    </div>
                </div>
                <div class=" d-flex justify-content-center">
                    <table class="table table-striped table-bordered table-hover" id="items_table">
                        <thead class="thead-inverse">
                        <tr>
                            <th colspan="2">Item</th>
                            <th >Bought item</th>
                        </tr>
                        <tr th:each="item : ${items}">
                            <td>
                                <img th:src="${item.value.img}" height="40" width="40"/>
                            </td>
                            <td >
                                <span th:utext="${item.value.name}"></span>
                            </td>
                            <td>
                                <input type="checkbox" class="item_checkbox"
                                       onchange="addItem()" th:item_id="${item.value.id}"
                                       th:labelName="${item.value.getName()}"
                                       th:checked="${chart.getxLabels().contains(item.value.getName())}"
                                       th:item_img="${item.value.img}" th:item_name="${item.value.name}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>