<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link th:href="@{../css/bootstrap.min.css}" rel="stylesheet">
        <title>Main Page</title>
    </head>
    <body>
        <script>
        </script>

        <div th:insert="fragments/general.html :: header"></div>

        <div th:if="${#request.getUserPrincipal()!=null && #request.getUserPrincipal().principal.user.role.ordinal() == 0}" th:text="${ #request.getUserPrincipal().principal.user.role.ordinal()}">roles is</div>
<!--        <div th:if="${#request.getUserPrincipal()!=null && #request.getUserPrincipal().principal!=null}" th:text="${ #request.getUserPrincipal().principal.user.role.name()}"></div>-->

        <div th:insert="fragments/general.html :: footer"></div>
    </body>
</html>