<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Main Page</title>
<meta id="Reverso_extension___elForCheckedInstallExtension" name="Reverso extension" content="2.2.202"></head>
<body>
    <script>
    </script>

    <div><div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="/">Dota Analytic!!</a>
        
        
        <div>
            <a role="button" class="btn btn-dark" href="javascript: document.logoutForm.submit()">Log out</a>
            <form name="logoutForm" action="/logout" method="post" hidden="hidden"><input type="hidden" name="_csrf" value="8f2f83ec-4f16-4b11-8e65-424de734e180">
                <input hidden="" type="submit" value="Sign Out">
            </form>
        </div>
        <div>
            <a role="button" class="btn btn-dark" href="/analytic/Selections">Selections</a>
        </div>
        <div class="show">
            
        <div class="dropdown show">
            <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item btn-dark" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
<!--            <div th:if="${#request.getUserPrincipal()==null}">-->
<!--                <a role="button" class="btn btn-dark" th:href="@{/signUp}">Sign up</a>-->
<!--            </div>-->
<!--            <div th:if="${#request.getUserPrincipal()==null}">-->
<!--                <a role="button" class="btn btn-dark" th:href="@{/signUp}">Sign up</a>-->
<!--            </div>-->
    </nav>

</div></div>

    <div>0</div>
<!--        <div th:if="${#request.getUserPrincipal()!=null && #request.getUserPrincipal().principal!=null}" th:text="${ #request.getUserPrincipal().principal.user.role.name()}"></div>-->

    <div><div>

    <div class="border bg-info" style="width: 100%; height: 100px; visibility: hidden">
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
        <a class="navbar-brand" href="#">Navbar</a>
        
        

        <h1>Hello asd!</h1>
    </nav>
    <!-- на jQuery (необходим для Bootstrap - х JavaScript плагины) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Включают все скомпилированные плагины (ниже), или включать отдельные файлы по мере необходимости -->
    <script src="js/bootstrap.min.js"></script>
</div></div>

</body></html>